@font-face {
    font-family: Gothic;
    src: url("fonts/Berry Rotunda.ttf");
    font-weight: normal;
}

@font-face {
    font-family: Text;
    src: url("fonts/LinBiolinum_R.ttf");
    font-weight: normal;
}

h1, h2, h3 {
    font-family: Gothic, serif;
    color: lightgreen;
    font-weight: normal;
    line-height: 150%;
}

body {
    font-family: Text, sans-serif;
    background-color: black;
    color: #DDD;
    padding: 1em;
}

p, ul, ol {
    font-size: 125%;
    margin: 0.4em 0;
}

li { margin: 0.5em 0; }

a { color: yellow; }

.levels a:visited { color: grey; }