/* The fonts used by custom elements must be defined in the main document */
@font-face {
    font-family: Gothic;
    src: url("fonts/Berry Rotunda.ttf");
    font-weight: normal;
}

body {
    background-color: black;
    color: white;
    overflow: hidden;
}

.board {
    display: grid;
    grid-template-areas: "maze maze"
                         "joystick score";
    grid-template-columns: minmax(auto, 100%) 10em;

    background-image: url(message-background.jpg);
    background-size: cover;
}

.board a-maze {
    display: block;
    grid-area: maze;
    width: 100%;
}

.board joy-stick {
    grid-area: joystick;
    align-self: center;
}

.board score-board {
    grid-area: score;
    align-self: center;
    text-align: right;
}
