/* The fonts used by custom elements must be defined in the main document */
@font-face {
    font-family: Gothic;
    src: url("fonts/Berry Rotunda.ttf");
    font-weight: normal;
}

body {
    background-color: black;
    color: white;
    overflow: hidden;
}

.board {
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url(message-background.jpg);
    background-size: cover;
}

.board a-maze {
    display: block;
    width: 100%;
    height: 100%;
}
